body {
  font-family: sans-serif;
  background: rgba(221, 241, 244, 0.5)
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.oval-green-100 {
  height: 40px;
  width: 80px;
  background-color: green;
  border-radius: 25px;
  margin: 5px;
  border-color: green;
  border-style: solid;
}

.oval-red-100 {
  height: 40px;
  width: 80px;
  background-color: red;
  border-radius: 25px;
  margin: 5px;
  border-color: red;
  border-style: solid;
}

.oval-purple-100 {
  height: 40px;
  width: 80px;
  background-color: purple;
  border-radius: 25px;
  margin: 5px;
  border-color: purple;
  border-style: solid;
}

.oval-green-0 {
  height: 40px;
  width: 80px;
  background-color: white;
  border-radius: 25px;
  margin: 5px;
  border-color: green;
  border-style: solid;
}

.oval-red-0 {
  height: 40px;
  width: 80px;
  background-color: white;
  border-radius: 25px;
  margin: 5px;
  border-color: red;
  border-style: solid;
}

.oval-purple-0 {
  height: 40px;
  width: 80px;
  background-color: white;
  border-radius: 25px;
  margin: 5px;
  border-color: purple;
  border-style: solid;
}

.oval-green-50 {
  background-image: url("https://images2.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-mint-green-white-22rap4.png");
  height: 40px;
  width: 80px;
  border-radius: 25px;
  margin: 5px;
  border-color: green;
  border-style: solid;
}

.oval-red-50 {
  background-image: url("https://images2.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-red-white-22raqq.png");
  height: 40px;
  width: 80px;
  border-radius: 25px;
  margin: 5px;
  border-color: red;
  border-style: solid;
}

.oval-purple-50 {
  background-image: url("https://images0.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-purple-white-22r74j.png");
  height: 40px;
  width: 80px;
  border-radius: 25px;
  margin: 5px;
  border-color: purple;
  border-style: solid;
}

.diamond-green-100 {
  height: 45px;
  width: 45px;
  background-color: green;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: green;
  border-style: solid;
}

.diamond-red-100 {
  height: 45px;
  width: 45px;
  background-color: red;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: red;
  border-style: solid;
}

.diamond-purple-100 {
  height: 45px;
  width: 45px;
  background-color: purple;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: purple;
  border-style: solid;
}

.diamond-green-0 {
  height: 45px;
  width: 45px;
  background-color: white;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: green;
  border-style: solid;
}

.diamond-red-0 {
  height: 45px;
  width: 45px;
  background-color: white;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: red;
  border-style: solid;
}

.diamond-purple-0 {
  height: 45px;
  width: 45px;
  background-color: white;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: purple;
  border-style: solid;
}

.diamond-green-50 {
  background-image: url("https://images2.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-mint-green-white-22rap4.png");
  height: 45px;
  width: 45px;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: green;
  border-style: solid;
}

.diamond-red-50 {
  background-image: url("https://images2.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-red-white-22raqq.png");
  height: 45px;
  width: 45px;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: red;
  border-style: solid;
}

.diamond-purple-50 {
  background-image: url("https://images0.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-purple-white-22r74j.png");
  height: 45px;
  width: 45px;
  transform: rotate(-20deg) skewX(50deg) scaleY(0.65) translate(10px, 50%);
  border-color: purple;
  border-style: solid;
}

.parallelogram-green-100 {
	width: 70px;
	height: 35px;
  background-color: green;
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5%;
  border-color: green;
  border-style: solid;
}

.parallelogram-red-100 {
	width: 70px;
	height: 35px;
  background-color: red;
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: red;
  border-style: solid;
}

.parallelogram-purple-100 {
	width: 70px;
	height: 35px;
  background-color: purple;
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: purple;
  border-style: solid;
}

.parallelogram-green-0 {
	width: 70px;
	height: 35px;
  background-color: white;
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: green;
  border-style: solid;
}

.parallelogram-red-0 {
	width: 70px;
	height: 35px;
  background-color: white;
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: red;
  border-style: solid;
}

.parallelogram-purple-0 {
	width: 70px;
	height: 35px;
  background-color: white;
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: purple;
  border-style: solid;
}

.parallelogram-green-50 {
	width: 70px;
	height: 35px;
  background-image: url("https://images2.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-mint-green-white-22rap4.png");
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: green;
  border-style: solid;
}

.parallelogram-red-50 {
	width: 70px;
	height: 35px;
  background-image: url("https://images2.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-red-white-22raqq.png");
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: red;
  border-style: solid;
}

.parallelogram-purple-50 {
	width: 70px;
	height: 35px;
  background-image: url("https://images0.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-purple-white-22r74j.png");
  transform: skew(20deg);
  border-radius: 10px;
  margin: 5px;
  border-color: purple;
  border-style: solid;
}

.content {
  height: 170px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 150px;
}

.background {
  background-color: rgba(130, 123, 123, 0.5) !important;
}

.foundSetBackground {
  background-color: rgba(128, 224, 235, 0.5) !important;
}

.container {
  display: flex;
}
.container-board {
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.container-sidebar {
  flex-grow: 1
}

.the-buttons {
  text-align: center
}
